*{
    margin: 0;
    padding: 0;
}
.main-contener{
    height: 80vh;
    width: 100% auto;
    background: linear-gradient(90deg, rgba(0,10,36,1) 0%, rgba(36,78,150,0.9920343137254902) 0%, rgba(0,212,255,1) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
    display: flex;
  
}
.angular{
    height: 30px;
}
    .nav-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
}
.nav-item1-text {
    margin-left: -15px;
   
}

.menu-item{
   display: flex;
   padding: 15px;
   gap: 20px;
   
}
.menu-item1{
    display: flex;
    float: right;
    justify-content: end;
    margin-left: 406px;
}









